.comments{
    background-color: rgb(255, 255, 255);
    margin-top: 1%;
    width: 70%;
    height: 250px;
    overflow-y: scroll;
}
.video{
    width: 80%;
    height: 450px;
}

.container-comment{
    /* background-color: orange; */
    height: 300px;
}
.live-end{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}