* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;

}
.App {
  height: auto;
  animation: fade-in 0.5s ease-in-out;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 800px) {
  .App {
    width: auto;
    overflow-x: hidden;
    background-image: url("./assets/imgs/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  div {
    /* @apply border border-black; */
  }
  body {
    @apply font-[sans-serif];
  }
  h1 {
    @apply text-3xl md:text-4xl font-bold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply text-xl font-semibold;
  }
}
