* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;

}
.App {
  height: auto;
  animation: fade-in 0.5s ease-in-out;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 800px) {
  .App {
    width: auto;
    overflow-x: hidden;
    background-image: url("./assets/imgs/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  div {
    /* @apply border border-black; */
  }
  body {
    @apply font-[sans-serif];
  }
  h1 {
    @apply text-3xl md:text-4xl font-bold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply text-xl font-semibold;
  }
}

@media screen and  (max-width: 800px) {
.graph{
  display: block;
  padding: 0;
  overflow-x: scroll;
}
.graph h2{
  font-size: medium;
}
.graph-1{
  width: 500px;
  margin: 0;
  margin-bottom: 10px;
}
.graph-2{
  width: 500px;
  margin: 0;
}
.ma-graph{
  margin: 0;
  margin-top: 10px;
  overflow-x: scroll;
}
.warnings h1{
  font-size: medium;
}
.warnings p{
  font-size: small;
}
.chart-ma{
  display: block;
  overflow-x: scroll;
  padding: 0;
}
.chart-ma h2{
  font-size: medium;
}
.chart-ma-1{
  width: 500px;
}

}